
  @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body{
background-repeat: no-repeat;
background: radial-gradient(circle, rgba(244,152,192,1) 0%, rgba(17,6,184,1) 100%);
background-position: center;
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;

}
h1{
  font-family: 'Cabin Sketch', cursive;
  background: -webkit-linear-gradient(#ff3493fe, #f8ab59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:6rem;
  


}

h1, p{
  display: flex;
  justify-content: center;
  text-align: center;
  color:antiquewhite;
  transition: ease-in-out 0.3s
}

p{
  margin: 25px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  border: 2px dashed #2e027f;
  background-color: rgba(0, 255, 255, 0.223);
  color: rgb(224, 230, 249);
}

h1:hover{
  transform: scale(1.1);
  transition: ease-in-out 0.3s
}


a {
 color: rgb(116, 235, 5);
 text-decoration: none;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-evenly;


}

.container img {


border: 1px solid white;
border-radius: 20px;
width: 25%;
aspect-ratio: 1/1;
transition: 0.3s ease-in-out
}


.container img:hover {
  transform: scale(1.32);
  filter: drop-shadow(0 0 0.75rem #ffd900);
  transition: 0.3s ease-in-out;

  
}


.video {
  padding: 10px;
 
  
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .container  {
      width: 80%;
  }
  
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .container {
    width: 90%;
    margin: 30px
  }

}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .container  {
    width: 100%
      
  }
  
}